<div class="card mb-4">
  <div class="card-body bg-light">

  <div class="img-thumbnail float-right">
    <img src="//ng-buch.de/avatar/{{ book.rating }}">
    <!-- <img [src]="'//ng-buch.de/avatar/' + book.rating "> -->
  </div>

  <h2>{{ book.title }} <small>Stars {{ book.rating }}</small></h2>

  <p>
    {{ book.description }}
  </p>

  <!--
  Change Detection Demo:
  <b>{{ test.value }}</b>
  <input value="hallo" #test>
  -->

  <button
    [disabled]="rateDownDisabled()"
    (click)="rateDown()"
    class="btn">-1</button>
  <button
    [disabled]="rateUpDisabled()"
    (click)="rateUp()"
    class="btn btn-danger">+1</button>

  <button
    [routerLink]="['/book', book.isbn]"
    class="btn">Details</button>

  </div>
</div>
